 
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" routerLink="/"> Movies</a>
      <div >
          <form class="form-inline">
              <div class="form-group mx-sm-6 mb-2">
                <input type="text" class="form-control" [(ngModel)]="searchStr" name="searchStr" id="search" placeholder="search">
                <button  class="btn btn-primary ml-1" (click)='searchMovies()'>Search</button>
                <button  class="btn btn-success ml-1" (click)='getMovies()'>Reset</button>
            </div>
          </form>
      </div>
    </div>
  </nav>