 
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#"> Movies</a>
      <div >
          <form class="form-inline">
              <div class="form-group mx-sm-3 mb-2">
                <label for="search" class="sr-only">Buscar</label>
                <input type="text" class="form-control" [(ngModel)]="searchStr" name="searchStr" id="search" placeholder="buscar">
              </div>
              <button  class="btn btn-primary" (click)='searchMovies()'>Buscar</button>
              <button  class="btn btn-success ml-5" (click)='getMovies()'>Resetear</button>
          </form>
      </div>
    </div>
  </nav>